.q-btn {
  background-color: #0d6efd;
  color: #fff;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 0.5em;
  border: unset;
}
.q-btn--primary {
  background-color: #0d6efd;
}
.q-btn--primary:hover {
  cursor: pointer;
  background-color: rgba(13, 110, 253, 0.8);
}
.q-btn--secondary {
  background-color: #6c757d;
}
.q-btn--secondary:hover {
  cursor: pointer;
  background-color: rgba(108, 117, 125, 0.8);
}
.q-btn--success {
  background-color: #198754;
}
.q-btn--success:hover {
  cursor: pointer;
  background-color: rgba(23, 135, 84, 0.8);
}
.q-btn--danger {
  background-color: #dc3545;
}
.q-btn--danger:hover {
  cursor: pointer;
  background-color: rgba(220, 53, 69, 0.8);
}
.q-btn--warning {
  background-color: #ffc107;
  color: #212529;
}
.q-btn--warning:hover {
  cursor: pointer;
  background-color: rgba(255, 193, 7, 0.8);
}
.q-btn--info {
  background-color: #0dcaf0;
  color: #212529;
}
.q-btn--info:hover {
  cursor: pointer;
  background-color: rgba(13, 202, 240, 0.8);
}
.q-btn--light {
  background-color: #f8f9fa;
  color: #212529;
}
.q-btn--light:hover {
  cursor: pointer;
  background-color: rgba(248, 249, 250, 0.8);
}
.q-btn--dark {
  background-color: #212529;
}
.q-btn--dark:hover {
  cursor: pointer;
  background-color: rgba(33, 37, 41, 0.8);
}
.q-btn--link {
  background-color: transparent;
  color: #0d6efd;
  text-decoration: underline;
}
.q-btn--disabled {
  cursor: not-allowed !important;
  background-color: rgba(108, 117, 125, 0.4);
}
.q-btn--disabled:hover {
  background-color: rgba(108, 117, 125, 0.4);
}
